:root {
    box-sizing: border-box;
    font-size: 16px;
}

*, :before, :after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    color: #222;
    background-color: #ccc;
}

.container {
    max-width: 1080px;
    margin: 2em auto;
}

.row {
    margin: 1em 0;
    padding: 1em;
}